.budget {
    body {
        margin: 0;
        padding: 0;
        background: rgb(81, 7, 101);
        background: linear-gradient(180deg, rgba(0, 215, 255, 1) 0%, rgba(71, 9, 121, 1) 2%, rgba(71, 9, 121, 1) 98%, rgba(222, 0, 255, 1) 100%);
        background-size: cover;
        background-attachment: fixed;
    }

    h4 {
        color: #ffffff;
        margin-bottom: 10px;
        text-align: left;
    }

    h5 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;

    }

    h5-1 {
        justify-content: flex-end;
    }

    form {
        border-bottom: 1px solid #f68cfc;
        margin: 0;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eb47eb;
    }

    .income-field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-end;
    }

    .income-field input {
        margin-left: 5px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #52caef;
        outline: none;
        position: relative;
        padding-right: 5px;
    }

    .income-field label {
        margin-right: 10px;
        text-align: left;
        border: none;
        outline: none;
        flex-wrap: nowrap;
    }

    .income-field>div {
        display: flex;
        justify-content: flex-end;
        width: 100%;

    }

    label {
        display: block;
        color: #ffffff;
        text-align: left;
    }

    table {
        width: 70%;
        margin: 0 auto;
        border-collapse: collapse;
        align-items: center;
    }

    th,
    td {
        border: 1px solid #f9b8f9;
        padding: 8px;
        width: 20%;
    }

    .content {
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: center;
    }

}