

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:aliceblue;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.budget {
  body {
      margin: 0;
      padding: 0;
      background: rgb(81, 7, 101);
      background: linear-gradient(180deg, rgba(0, 215, 255, 1) 0%, rgba(71, 9, 121, 1) 2%, rgba(71, 9, 121, 1) 98%, rgba(222, 0, 255, 1) 100%);
      background-size: cover;
      background-attachment: fixed;
    }
  h4 {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: left;
  }
  h5 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    
  }
    h5-1{
    justify-content: flex-end;
    }
     form {
      border-bottom: 1px solid #f68cfc;
      margin: 0;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eb47eb;
     }
         .income-field {
           display: flex;
           align-items: center;
           margin-bottom: 10px;
          justify-content: flex-end;
         }
                 
                 .income-field input {
                  margin-left: 5px;
                  background-color: transparent;
                  border: none;
                  border-bottom: 1px solid #52caef;
                  outline: none;
                  position: relative;
                  padding-right: 5px;
                 }
                 .income-field label {
                   margin-right: 10px;
                   text-align: left;
                   border: none;
                   outline: none;
                   flex-wrap: nowrap;
                 }
                .income-field>div {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                
                  }
        label {
        display: block;
        color: #ffffff;
        text-align: left;
    }
              table {
                width: 70%;
                margin: 0 auto;
                border-collapse: collapse;
                align-items: center;
              }
                th,
                td {
                  border: 1px solid #f9b8f9;
                  padding: 8px;
                  width: 20%;
                }
                
                
              }
              .content{
                display: flex;
                gap: 20px;
                flex-direction:row;
                justify-content: center;
              }
              
              body {
                margin: 0;
                padding: 0;
                background-color: rgb(81, 7, 101);
                background: url('CPB2.svg') no-repeat center center fixed;  
                background-size: cover;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
              }
.calendar {
  h2{
    margin-top: 2%;
    perspective: none;
    font-size: 400%;
    border-block: solid;
    writing-mode: horizontal-tb;
  }
    section {
      /* display: flex; */
      border-block-end: solid;
      justify-content: space-between;
      align-items: center;
      writing-mode: horizontal-tb;
      border-inline: solid;
      padding-bottom: 20px;
    }   
        button {
          color: #fff;
          border-width: thin;
          border-color: rgb(65, 252, 255);
          padding: 10px 30px;
          background: none;
          border-radius: 20px;
          cursor: pointer;
          font-size: 18px;
          margin: -50px 100px;
        }
    
        button:hover {
          background-color: rgba(68, 37, 70, 0.653); ;
        }
                .formThree button:not(:last-child) {
                  margin-bottom: 10px;
                }
   }
